@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Open+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

/* ||variables */
:root {
  --main-color: #be3124;
  --nav-color: #bf2444;
}
/* ||General */
html {
  font-family: "Averia Serif Libre", cursive;
}
/* ||button */
button {
  padding: 4px;
  display: block;
  margin-left: 5px;
  margin-top: 5px;
  background: none;
  border: none;
  transition: all 0.4s ease;
  border: 2px solid hsl(0, 6%, 86%);
}
.line {
  transition: all 0.3s ease;
  transform-origin: center;
}

button:hover .top {
  y: 9px;
  rotate: 35deg;
  width: 25px;
}
button:hover .middle {
  opacity: 0;
}
button:hover .bottom {
  rotate: -35deg;
  y: 9px;
  width: 25px;
}

/* ||Navigation */
button:hover nav {
  display: block;
}
nav {
  position: relative;
  display: none;

  text-align: center;
  background-color: #cdcdcd;
}
ul {
  list-style-type: none;
}
nav ul li {
  padding: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #232323;
}
li a:hover {
  color: tomato;
}
