* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(59, 47, 47);
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
}

.list {
  width: 200px;
  padding: 15px;
  color: #fff;
  height: 350px;
  border: 2px dotted #fff;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 15px;
}
.item {
  cursor: grab;
  width: 150px;
  padding: 10px;
  height: 40px;
  background-color: rgb(230, 124, 124);
}
