* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
}
#input-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#input-box input {
  padding: 15px;
  width: 400px;
  font-size: 20px;
  border-radius: 5px;
}

#icon {
  width: 30px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  top: 17px;
}
