@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
/* begin reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
}
/* end reset */
/* utility classes */
.nowrap {
  white-space: nowrap;
}
.offscreen {
  position: absolute;
  left: -10000000px;
}

/* End utility classes */
body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  background-color: aliceblue;
  /* background-image: url("../img/bubbles.png"),
    linear-gradient(to right, hsla(267, 27%, 41%, 0.651), whitesmoke);
  background-repeat: repeat-y, no-repeat;
  background-position: left center;
  background-size: 20% auto;*/
  background: repeat-x left center url("../img/bubbles.png"),
    no-repeat linear-gradient(to left, aliceblue, black);
}
.container {
  background-color: rgb(251, 210, 156);
  background-image: url(../img/scenic-2200x1331.png);
  background-repeat: repeat;
  background-size: cover /* this will make the image fit a bit */;
}
.hero {
  border-bottom: 2px solid #000;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  background-color: hsla(0, 0%, 0%, 0.267);
}

.h1 {
  font-size: 500%;
  color: hsl(182, 33%, 79%);
  text-shadow: 2px /* x-axis */ 2px /* y-axis */ 2px /* blur value */ #000;

  padding: 0.2rem;
  border-radius: 10px;
}

.profile-pic-figure {
  width: 25%;
}
.profile-pic-figure img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 5px double gray;
  border-radius: 50%;
}
.example {
  margin-top: 1rem;
  padding-left: 20px;
  border: 1px solid orangered;
}
.example img {
  width: 25%;
  height: auto;
}
.clip {
  font-weight: 900;
  font-size: 20rem;
  text-align: center;
  background-image: url("../img/scenic-2200x1331.png");
  background-size: 100%;
  text-transform: uppercase;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text; /* as a fallback for other browsers */
}
