* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
caption {
  text-align: center;
  background-color: pink;
  font-size: 25px;
  font-weight: bolder;
}
table {
  text-align: center;
  margin-left: 40px;
  margin-top: 40px;
  border-bottom: 2px solid black;
  width: 9vw;
}
thead {
  border: 2px solid black;
}
th {
  padding: 0 5px;
  text-align: center;
  border-bottom: 4px solid black;
  border-top: 4px solid black;

  background-color: pink;
}
tbody {
  background-color: rgba(245, 162, 245, 0.966);
}
