* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ||Variables */
:root {
  --MAIN-COLOR: #4b4949;
}
/* ||Hamburger menu */
#icon {
  visibility: hidden;
  display: none;
}
.toggle {
  position: absolute;
  background-color: blanchedalmond;
  left: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 3px;
  border-radius: 2px;
  z-index: 5;
}
.toggle .bar {
  position: absolute;
  left: 5px;
  width: 19px;
  height: 2px;
  background-color: var(--MAIN-COLOR);
  transition: all 0.4s ease;
}

.top {
  top: 7px;
}
.middle {
  top: 14px;
}
.bottom {
  top: 21px;
}
#icon:checked + .toggle .lines .top {
  top: 14px;
  rotate: 45deg;
}
#icon:checked + .toggle .lines .middle {
  opacity: 0;
}
#icon:checked + .toggle .lines .bottom {
  top: 14px;
  rotate: -45deg;
}
#icon:checked ~ .menu {
  transform: translate(0px);
}
/* ||Menu */
h1 {
  text-align: center;
  padding: 7px;
  font-size: 50px;
  color: firebrick;
}
nav {
  background-color: #e07996;
  border-radius: 1px;
  width: 300px;
  height: 100vh;
  transition: all 0.5s ease;
  transform: translate(-150%);
}
li {
  border-bottom: silver 2px solid;
  overflow: hidden;
}
.menu :is(li, i) {
  padding: 15px;
  transition: all 0.2s ease;
}
a {
  color: var(--MAIN-COLOR);
  text-decoration: none;
}
li:hover a {
  color: rgb(128, 58, 58);
  transform: translatey(-5px);
}
