@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap");
html {
  font-family: "Poppins";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --MAIN-COLOR: #001e4d;
  --WEIGHT: 600;
}
body {
  background: var(--MAIN-COLOR);
}
.app {
  background: #fff;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}
.app h1 {
  color: var(--MAIN-COLOR);
  font-size: 30px;
  font-weight: var(--WEIGHT);
  padding-bottom: 30px;
  border-bottom: 1px solid #333;
}
.quiz {
  padding: 20px 0;
}
.quiz h2 {
  font-size: 18px;
  font-weight: var(--WEIGHT);
  color: var(--MAIN-COLOR);
}
.btn {
  background: #fff;
  color: #222;
  font-weight: var(--WEIGHT);
  border: 1px solid #222;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0;
  width: 100%;
  text-align: left;
  padding: 15px;
}
.btn:hover:not([disabled]) {
  background: #222;
  transition: all 0.5s ease;
  color: #fff;
}
.btn:disabled {
  cursor: no-drop;
}
#next-btn {
  background: var(--MAIN-COLOR);
  font-weight: var(--WEIGHT);
  width: 150px;
  border: 0;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
  display: none;
  transition: all 0.5s;
}
#next-btn:hover {
  transform: translatey(-2px);
}

.correct {
  background: #9aeabc;
}
.incorrect {
  background: #ff9393;
}
