* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px 5px;
}
.inputs {
  text-align: center;
}
.row {
  padding: 5px;
}
.display {
  width: 230px;
  height: 5vh;
  padding: 5px;
}
h1 {
  padding: 5px;
}
.btn {
  border-radius: 5px;
  border: 2px solid black;
  margin: 5px 10px;
  padding: 9px;
  cursor: pointer;
  width: 40px;
}
