@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}
/* ||Variables */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;

  --about-bg: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

/* ||Nav */
#navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: var(--main-red);
}
#nav__list {
  margin-left: 7px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}
a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 600;
}
#nav__list li {
  list-style-type: none;
  padding: 20px;
}
/* ||Welcome */
#about {
  background: var(--about-bg);
  height: 90vh;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__header {
  font-size: 85px;
}
.about__paragraph {
  color: #be3114;
  font-size: 40px;
  text-indent: 20px;
  font-style: italic;
}

@keyframes wavy {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 1000px;
  }
}
@keyframes wavy-2 {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1000px;
  }
}
/* ||Projects */
#projects {
  height: fit-content;
  padding: 10rem 5rem;
  background-color: var(--main-blue);
}
.projects {
  text-align: center;
  padding: 10rem 2rem;
}
.projects__header {
  text-align: center;
  max-width: 640px;
  margin: 0 auto 5rem auto;
  color: var(--main-white);
  font-size: 4.2rem;
  border-bottom: 2px solid var(--main-white);
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.project {
  border-radius: 2px;
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.project:hover {
  animation: show 2s ease-out 0.2s;
}
.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}
.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}
.project-image {
  width: 100%;
  height: calc(100% - 6.8rem);
  object-fit: cover;
}
.btn-show-all {
  background-color: var(--main-gray);
  font-size: 2rem;
  transition: background 0.7s, transform 0.7s;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}
.btn-show-all:hover {
  background-color: var(--main-red);
}
.btn-show-all:hover .fa {
  transform: translatex(2px);
}
/* ||Contact */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 85vh;
  background-color: var(--main-gray);
}
.contact-header {
  font-size: 55px;
  color: var(--main-white);
}
.contact-para {
  color: var(--main-white);
  font-size: 20px;
  margin-top: 20px;
}
#contact-links a {
  margin-top: 15px;
  padding: 11px;
  transition: all 0.3s;
}
#contact-links a:hover {
  transform: translatey(5px);
  filter: brightness(150%);
}
/* ||Footer */
#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 7px var(--main-red) solid;
  height: 10vh;
  background-color: var(--main-gray);
}
#footer p {
  margin: 20px auto;
  font-size: 17px;
  font-weight: bolder;
  color: var(--main-white);
}

/* || SVG animation */
#logo {
  animation: fill 0.5s forwards 3s;
}
path:nth-child(1) {
  stroke-dasharray: 441;
  stroke-dashoffset: 441;
  animation: lines 0.4s forwards 0.4s;
}
path:nth-child(2) {
  stroke-dasharray: 144;
  stroke-dashoffset: 144;
  animation: lines 0.4s forwards 0.6s;
}
path:nth-child(3) {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  animation: lines 0.4s forwards 0.8s;
}
path:nth-child(4) {
  stroke-dasharray: 244;
  stroke-dashoffset: 244;
  animation: lines 0.4s forwards 1s;
}
path:nth-child(5) {
  stroke-dasharray: 265;
  stroke-dashoffset: 265;
  animation: lines 0.4s forwards 1.2s;
}
path:nth-child(6) {
  stroke-dasharray: 143;
  stroke-dashoffset: 143;
  animation: lines 0.4s forwards 1.4s;
}
path:nth-child(7) {
  stroke-dasharray: 143;
  stroke-dashoffset: 143;
  animation: lines 0.4s forwards 1.6s;
}
path:nth-child(8) {
  stroke-dasharray: 124;
  stroke-dashoffset: 124;
  animation: lines 0.4s forwards 1.8s;
}

path:nth-child(9) {
  stroke-dasharray: 143;
  stroke-dashoffset: 143;
  animation: lines 0.4s forwards 2s;
}
@keyframes lines {
  to {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #fff;
  }
}
