* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
}
html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.card {
  width: clamp(400px, 90%, 470px);
  margin: 100px auto 0;
  background: linear-gradient(130deg, #00feba, #5b548a);
  border-radius: 10px;

  color: #fff;
  padding: 40px 35px;
  text-align: center;
}

/* search */
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  color: #555;
  background: #ebfffc;
  border-radius: 50px;
  height: 60px;
  padding: 25px 25px;
  flex: 1;
  margin-right: 16px;
  font-size: 20px;
}
.search button {
  border-radius: 50%;
  outline: none;
  width: 60px;
  height: 60px;
  border: none;
  background: #ebfffc;
  cursor: pointer;
}
.search button img {
  width: 30px;
}
/* WEATHER */
.weather {
  display: none;

  transition: all 0.5s ease;
}
.weather-icon {
  width: 170px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 50px;
  margin: 10px 0;
  font-weight: 600;
}
.weather h2 {
  margin-bottom: 50px;
}
.error {
  text-align: left;
  margin-left: 10px;
  font-size: 15px;
  display: none;
  margin-top: 20px;
}

/* ||Columns */
.details {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.col {
  display: flex;
}
.col img {
  width: 60px;
}
.col > div {
  margin-left: 15px;
}
.col .humidity,
.col .wind {
  font-size: 25px;
  font-weight: 500;
}
